<style>
#ppBody
{
    font-size:11pt;
    width:100%;
    margin:0 auto;
    text-align:justify;
}

#ppHeader
{
    font-family:verdana;
    font-size:21pt;
    width:100%;
    margin:0 auto;
}

.ppConsistencies
{
    display:none;
}
</style><div id='ppHeader'>friendspeak.io Support</div><div id='ppBody'>

<h1>Contact Us!</h1>
<p>Here at friendspeak.io, we're committed to answering any questions about our site, privacy policy, or vision. Feel free to email us at <a href="mailto:friendspeak.io@gmail.com">friendspeak.io@gmail.com</a>.</p>
<br>
<p>- admins</p>

</div>